/*rem换算*/
@function rem($n) {
    @return $n / 37.5;
}
$font8: rem(8rem);
$font12: rem(12rem);
$font13: rem(13rem);
$font14: rem(14rem);
$font16: rem(16rem);
$font18: rem(18rem);
$font20: rem(20rem);
$font26: rem(26rem);
$font24: rem(24rem);
$c000: #000;
$cfff: #fff;
$c3c3c: #3c3c3c;
.i-headbot{
  width: 100%;
  border-top: rem(3rem) solid #dbb689;
  height: rem(17rem);
  display: flex;
  justify-content: center;
}
.i-headbottext{
  padding: 0 2%;
  background: #dbb689;
  font-size: $font12;
  text-align: center;
  height: rem(17rem);
  line-height: rem(17rem);
  color: $cfff;
}
.i-maintop{
  font-size: $font20;
  color: $c000;
  font-weight: blod;
  text-align: center;
  padding-bottom: rem(14rem);
  margin-bottom: rem(10rem);
  line-height: rem(28rem);
  letter-spacing: rem(2rem);
  background: url(../assets/indexborder.png) no-repeat center bottom;
  background-size: 53% rem(3rem);
}
.swiper-container {
    width: 100%;
    height: rem(124rem);
    overflow: hidden;
    position: relative;
    .swiper-wrapper {
      z-index: 1;
      display: flex;
      width: 100%;
      height: rem(124rem);
      transform: translate3d(0px, 0px, 0px);
      transition-property: transform;
      box-sizing: content-box;
      .swiper-slide {
          display: flex;
          position: relative;
          height: rem(124rem);
          width: 100%;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          text-align: center;
          font-size: 18px;
          background: #fff;
          .swiper-img{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
          }
        }
    }
    .swiper-pagination-bullets{
      position: absolute;
      right: rem(15rem);
      bottom: rem(15rem);
      width: 10%;
      height: rem(8rem);
      .swiper-pagination-bullet{
          width: rem(5rem);
          height: rem(5rem);
          margin: 0 rem(3rem);
          cursor: pointer;
          border-radius: 50%;
          background: #fff;
          opacity: .5;
          display: inline-block;
        }   
        .swiper-pagination-bullet-active {
            opacity: 1;
        }   
    }   
      
}
